p, body {
   
    background-color: rgb(190, 209, 238);

 
}

#topSection {
    display: flex;

}

#input, #newButton {
    
    border: 5%;
    width:  125%;
    height: 40px;
    
}


.section {
    border-radius: 3%;
    padding: 1%;
}

#forecast, #display {
    margin:20px;
}

#currentWeather {
    display: flex;
    border: solid darkgray;
    width: 50%;
    
}


#display {
    display:flex;
    justify-content: center;
    justify-content: space-between;
    border: solid;
   
}

#topSection {
    display: flex;
    justify-content: space-around;
}


#timeDate {
    color: black;
}