body {
   
    background-color: whitesmoke;
 
}

#header {
    border: 0%;
    margin: 1%;
    height: 30px;

}

#input, #newButton {
    
    border: 7%;
    margin: 1%;
    width: 12%;
    height: 37px;
    
}


.section {
    border-radius: 3%;
    padding: 1%;
}

#forecast, #display {
    margin:30px;
}

#currentWeather {
    border: solid darkgray;
    width: 50%;
    
}

#box1,#box2,#box3,#box4,#box5 {
    border: inset;
    width: 50%;
}

#display {
    display:flex;
    justify-content: center;
    justify-content: space-between;
    border:solid;
    font: center;
}